version: 2.1

orbs:
  platform-orb: okta/general-platform-helpers@1.8

aliases:

  - &build_steps
    - checkout
    - platform-orb/step-load-dependencies
    - run: java -version
    - run: mvn clean install -Pci -Dlicense.skip=true -Dmaven.test.skip.exec=true
    - run: mvn test
    - run:
        no_output_timeout: 30m
        command: |
          ClassName=$(circleci tests glob "integration-tests/src/test/groovy/com/okta/sdk/tests/it/**IT.groovy" | circleci tests split --split-by=filesize | grep groovy | xargs -n 1 basename | sed -e 's/\.groovy$//' | tr '\n' ',' | sed 's/,*$//g')
          echo $ClassName
          cd ./integration-tests
          mvn -Dtest=$ClassName test
    - run:
        when: on_fail
        command: cat integration-tests/target/failsafe-reports/*IT.txt
    - run:
        when: on_fail
        command: cat integration-tests/target/failsafe-reports/*dump*

jobs:
  jdk8:
    docker:
      - image: cimg/openjdk:8.0.362-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  jdk11:
    docker:
      - image: cimg/openjdk:11.0.18-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  jdk17:
    docker:
      - image: cimg/openjdk:17.0.6-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps
  
  snyk-scan:
    docker:
      - image: cimg/openjdk:13.0
    steps:
      - attach_workspace: # Allows for sharing of build-workspace (containing downloaded dependencies) (optional)
          at: ~/project
      - platform-orb/step-load-dependencies
      - run: | # Install your projects dependencies here or in the build job. Note: Here if Python.
          pip install -r requirements.txt 
      - platform-orb/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false

workflows:
  "Circle CI Tests":
    jobs:
      - platform-orb/job-secrets-obtain:
          name: cache-secrets
          secret-key: "OKTA_CLIENT_ORGURL;OKTA_CLIENT_TOKEN;OKTA_CLIENT_CONNECTIONTIMEOUT;OKTA_IT_OPERATION_DELAY"
      - jdk8:
          requires:
            - cache-secrets
      - jdk11:
          requires:
            - cache-secrets
      - jdk17:
          requires:
            - cache-secrets
      - platform-orb/job-snyk-prepare:
          name: prepare-snyk
          requires:
            - jdk8
            - jdk11
            - jdk17
      - snyk-scan:
          name: execute-snyk
          requires:
            - prepare-snyk
  # See OKTA-634437
  semgrep:
    jobs:
      - platform-orb/job-semgrep-prepare:
          name: semgrep-prepare
      - platform-orb/job-semgrep-scan:
          name: "Scan with Semgrep"
          requires:
            - semgrep-prepare
