version: 2.1

orbs:
  general-platform-helpers: okta/general-platform-helpers@1.8

aliases:

  - &build_steps
    - checkout
    - general-platform-helpers/step-load-dependencies
    - run: java -version
    - run: mvn clean install -Pci -Dlicense.skip=true -Dmaven.test.skip.exec=true
    - run: mvn test
    - run:
        no_output_timeout: 30m
        command: |
          ClassName=$(circleci tests glob "integration-tests/src/test/groovy/com/okta/sdk/tests/it/**IT.groovy" | circleci tests split --split-by=filesize | grep groovy | xargs -n 1 basename | sed -e 's/\.groovy$//' | tr '\n' ',' | sed 's/,*$//g')
          echo $ClassName
          cd ./integration-tests
          mvn -Dtest=$ClassName test
    - run:
        when: on_fail
        command: cat integration-tests/target/failsafe-reports/*IT.txt
    - run:
        when: on_fail
        command: cat integration-tests/target/failsafe-reports/*dump*

jobs:
  jdk8:
    docker:
      - image: cimg/openjdk:8.0.362-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  jdk11:
    docker:
      - image: cimg/openjdk:11.0.18-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  jdk17:
    docker:
      - image: cimg/openjdk:17.0.6-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  snyk-scan:
    docker:
      - image: cimg/openjdk:17.0.6-node
    steps:
      - checkout
      - run: ./mvnw -ntp clean install -Pci -Dlicense.skip=true -Dmaven.test.skip.exec=true
      - general-platform-helpers/step-load-dependencies
      - general-platform-helpers/step-run-snyk-monitor:
          scan-all-projects: false
          skip-unresolved: false
          run-on-non-main: true
          additional-arguments: "--maven-aggregate-project"

workflows:
  "Circle CI Tests":
    jobs:
      - general-platform-helpers/job-secrets-obtain:
          name: cache-secrets
          secret-key: "OKTA_CLIENT_ORGURL;OKTA_CLIENT_TOKEN;OKTA_CLIENT_CONNECTIONTIMEOUT;OKTA_IT_OPERATION_DELAY"
      - jdk8:
          requires:
            - cache-secrets
      - jdk11:
          requires:
            - cache-secrets
      - jdk17:
          requires:
            - cache-secrets
      - general-platform-helpers/job-semgrep-prepare:
          name: semgrep-prepare
      - general-platform-helpers/job-semgrep-scan:
          name: "Scan with Semgrep"
          requires:
            - semgrep-prepare
      - general-platform-helpers/job-snyk-prepare:
          name: prepare-snyk
          requires:
            - jdk17
      - snyk-scan:
          name: execute-snyk
          requires:
            - prepare-snyk
