version: 2.1

orbs:
  platform-orb: okta/general-platform-helpers@1.4.1

aliases:

  - &build_steps
    - checkout
    - platform-orb/load-dependencies
    - run: java -version
    - run: mvn clean install -Pci -Dlicense.skip=true -Dmaven.test.skip.exec=true
    - run: mvn test
    - run:
        no_output_timeout: 30m
        command: |
          ClassName=$(circleci tests glob "integration-tests/src/test/groovy/com/okta/sdk/tests/it/**IT.groovy" | circleci tests split --split-by=filesize | grep groovy | xargs -n 1 basename | sed -e 's/\.groovy$//' | tr '\n' ',' | sed 's/,*$//g')
          echo $ClassName
          cd ./integration-tests
          mvn -Dtest=$ClassName test
    - run:
        when: on_fail
        command: cat integration-tests/target/failsafe-reports/*IT.txt
    - run:
        when: on_fail
        command: cat integration-tests/target/failsafe-reports/*dump*

jobs:
  cache-secrets:
    machine: true
    resource_class: okta/generic-linux-x86
    environment:
      VAULT_ADDR: https://vault.aue1e.saasure.net
    steps:
      - checkout
      - run:
          name: "Vault login"
          command: |
            vault login -method=userpass username=$VAULT_USERNAME password=$VAULT_PASSWORD > /dev/null 2>&1
      - platform-orb/save-dependencies

  jdk8:
    docker:
      - image: cimg/openjdk:8.0.362-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  jdk11:
    docker:
      - image: cimg/openjdk:11.0.18-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

  jdk17:
    docker:
      - image: cimg/openjdk:17.0.6-node
    environment:
      JVM_OPTS: -Xmx3200m
    resource_class: large
    parallelism: 3
    steps: *build_steps

workflows:
  "Circle CI Tests":
    jobs:
      - cache-secrets
      - jdk8:
          requires:
            - cache-secrets
      - jdk11:
          requires:
            - cache-secrets
      - jdk17:
          requires:
            - cache-secrets
