{{!
    Copyright 2018-Present Okta, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}
    /**
     * Enroll Factor
     * Enrolls a user with a supported factor.
     * @param updatePhone  (optional, default to false)
     * @param templateId id of SMS template (only for SMS factor) (optional)
     * @param tokenLifetimeSeconds  (optional, default to 300)
     * @param activate  (optional, default to false)
     * @param body Factor (required)
     * @return Factor
     * @deprecated use {@link User#addFactor(Factor, Boolean, String, Integer, Boolean)}
    */
    @javax.annotation.Generated(
            value    = "com.okta.swagger.codegen.OktaJavaClientApiCodegen",
            comments = "POST - /api/v1/users/{userId}/factors")
    @Deprecated
    com.okta.sdk.resource.user.factor.Factor addFactor(Boolean updatePhone, String templateId, Integer tokenLifetimeSeconds, Boolean activate, com.okta.sdk.resource.user.factor.Factor body);

    /**
     * Enroll Factor
     * Enrolls a user with a supported factor.
     * @param updatePhone  (optional, default to false)
     * @param templateId id of SMS template (only for SMS factor) (optional)
     * @param body Factor (required)
     * @return Factor
     * @deprecated use {@link User#addFactor(Factor, Boolean, String)}
    */
    @javax.annotation.Generated(
            value    = "com.okta.swagger.codegen.OktaJavaClientApiCodegen",
            comments = "POST - /api/v1/users/{userId}/factors")
    @Deprecated
    com.okta.sdk.resource.user.factor.Factor addFactor(Boolean updatePhone, String templateId, com.okta.sdk.resource.user.factor.Factor body);

    /**
     * Forgot Password
     * Generates a one-time token (OTT) that can be used to reset a user&#39;s password.  The user will be required to validate their security question&#39;s answer when visiting the reset link.
     * This operation can only be performed on users with a valid [recovery question credential](#recovery-question-object) and have an &#x60;ACTIVE&#x60; status.
     * @param sendEmail  (optional, default to true)
     * @param userCredentials  (optional)
     * @return ForgotPasswordResponse
     * @deprecated use {@link User#forgotPassword(UserCredentials, Boolean)}
    */
    @javax.annotation.Generated(
            value    = "com.okta.swagger.codegen.OktaJavaClientApiCodegen",
            comments = "POST - /api/v1/users/{userId}/credentials/forgot_password")
    @Deprecated
    ForgotPasswordResponse forgotPassword(Boolean sendEmail, UserCredentials userCredentials);