{{!
    Copyright 2017 Okta

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}
{{>licenseInfo}}
package {{package}};

import com.okta.commons.http.RequestExecutor;
import com.okta.sdk.cache.CacheManager;
import com.okta.sdk.client.AuthenticationScheme;
import com.okta.commons.http.config.Proxy;
import com.okta.commons.http.QueryString;
import com.okta.commons.http.HttpHeaders;
import com.okta.sdk.impl.config.ClientConfiguration;

import {{vendorExtensions.overrideApiPackage}}.*;

{{#imports}}import {{import}};
{{/imports}}
import com.okta.sdk.impl.ds.InternalDataStore;
import com.okta.sdk.impl.resource.DefaultVoidResource;

import java.util.LinkedHashMap;
{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

import static com.okta.commons.lang.Assert.notNull;
import static com.okta.commons.lang.Assert.hasText;

{{#operations}}
@javax.annotation.Generated(
        value = "{{generatorClass}}",
        date  = "{{generatedDate}}")
@SuppressWarnings("deprecation")
public class {{classname}} extends com.okta.sdk.impl.client.BaseClient implements com.okta.sdk.client.Client {

    /**
    * Instantiates a new Client instance that will communicate with the Okta REST API.  See the class-level
    * JavaDoc for a usage example.
    *
    * @param clientConfiguration  the {@link ClientConfiguration} containing the connection information
    * @param cacheManager         the {@link CacheManager} that should be used to cache
    */
    public {{classname}}(ClientConfiguration clientConfiguration, CacheManager cacheManager) {
        super(clientConfiguration, cacheManager);
    }

    /**
    * Instantiates a new Client instance that will communicate with the Okta REST API.  See the class-level
    * JavaDoc for a usage example.
    *
    * @param clientConfiguration  the {@link ClientConfiguration} containing the connection information
    * @param cacheManager         the {@link CacheManager} that should be used to cache
    * @param requestExecutor      the {@link RequestExecutor} that should be used to execute requests
    */
    public {{classname}}(ClientConfiguration clientConfiguration, CacheManager cacheManager, RequestExecutor requestExecutor) {
        super(clientConfiguration, cacheManager, requestExecutor);
    }

{{#operation}}{{^vendorExtensions.moved}}
    /**
    * {{summary}}
    * {{notes}}
    {{#allParams}}
    * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/allParams}}
    {{#returnType}}
    * @return {{returnType}}
    {{/returnType}}
    */
    @Override
    @javax.annotation.Generated(
            value    = "{{generatorClass}}",
            date     = "{{generatedDate}}",
            comments = "{{httpMethod}} - {{path}}")
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
{{>paramPartial}}
{{#vendorExtensions.isGet}}
{{>apiMethodGet}}
{{/vendorExtensions.isGet}}
{{#vendorExtensions.isPut}}
{{>apiMethodPut}}
{{/vendorExtensions.isPut}}
{{#vendorExtensions.isPost}}
{{>apiMethodPostClient}}
{{/vendorExtensions.isPost}}
{{#vendorExtensions.isDelete}}
{{>apiMethodDelete}}
{{/vendorExtensions.isDelete}}
    }

{{#vendorExtensions.hasOptional}}
    /**
    * {{summary}}
    * {{notes}}
    {{#vendorExtensions.nonOptionalParams}}
    * @param {{paramName}} {{description}} (required)
    {{/vendorExtensions.nonOptionalParams}}
    {{#returnType}}
    * @return {{returnType}}
    {{/returnType}}
    */
    @Override
    @javax.annotation.Generated(
            value    = "{{generatorClass}}",
            date     = "{{generatedDate}}",
            comments = "{{httpMethod}} - {{path}}")
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#vendorExtensions.nonOptionalParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/vendorExtensions.nonOptionalParams}}) {
{{>paramPartialOnlyRequired}}
{{#vendorExtensions.isGet}}
{{>apiMethodGet}}
{{/vendorExtensions.isGet}}
{{#vendorExtensions.isPut}}
{{>apiMethodPut}}
{{/vendorExtensions.isPut}}
{{#vendorExtensions.isPost}}
{{#vendorExtensions.optionalBody}}
{{>apiMethodPostNoBody}}
{{/vendorExtensions.optionalBody}}
{{^vendorExtensions.optionalBody}}
{{>apiMethodPostClient}}
{{/vendorExtensions.optionalBody}}
{{/vendorExtensions.isPost}}
{{#vendorExtensions.isDelete}}
{{>apiMethodDelete}}
{{/vendorExtensions.isDelete}}
    }
{{/vendorExtensions.hasOptional}}

{{#vendorExtensions.hasBackwardsCompatibleParams}}
{{#vendorExtensions.backwardsCompatibleParamsEntrySet}}
    /**
    * {{summary}}
    * {{notes}}
    {{#value}}
    * @param {{paramName}} {{description}} (required)
    {{/value}}
    {{#returnType}}
    * @return {{returnType}}
    {{/returnType}}
    */
    @Override
    @javax.annotation.Generated(
            value    = "{{generatorClass}}",
            date     = "{{generatedDate}}",
            comments = "{{httpMethod}} - {{path}}")
    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#value}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/value}}) {
{{>paramPartialBackwardsCompat}}
{{#vendorExtensions.isGet}}
{{>apiMethodGet}}
{{/vendorExtensions.isGet}}
{{#vendorExtensions.isPut}}
{{>apiMethodPut}}
{{/vendorExtensions.isPut}}
{{#vendorExtensions.isPost}}
{{>apiMethodPostClient}}
{{/vendorExtensions.isPost}}
{{#vendorExtensions.isDelete}}
{{>apiMethodDelete}}
{{/vendorExtensions.isDelete}}
    }
{{/vendorExtensions.backwardsCompatibleParamsEntrySet}}
{{/vendorExtensions.hasBackwardsCompatibleParams}}
{{/vendorExtensions.moved}}
{{/operation}}
}
{{/operations}}