    // Map<String, Object> queryArgs = new LinkedHashMap<>();{{#queryParams}}
    // queryArgs.put("{{paramName}}", {{paramName}});{{/queryParams}}
    String href = "{{{vendorExtensions.hrefFiltered}}}";

    {{#returnType}}return {{/returnType}}getDataStore().getResource(href, {{#returnType}}{{{returnType}}}.class{{/returnType}}{{^returnType}}VoidResource.class{{/returnType}});