    //Map<String, Object> queryArgs = new LinkedHashMap<>();{{#queryParams}}
    // queryArgs.put("{{paramName}}", {{paramName}});{{/queryParams}}
    String href = "{{{vendorExtensions.hrefFiltered}}}";

    dataStore.delete(href);