    // Map<String, Object> queryArgs = new LinkedHashMap<>();{{#queryParams}}
    // queryArgs.put("{{paramName}}", {{paramName}});{{/queryParams}}
    String href = "{{{vendorExtensions.hrefFiltered}}}";

    {{#returnType}}return {{/returnType}}dataStore.{{vendorExtensions.dsMethod}}(href, {{#bodyParam}}{{bodyParam.paramName}}{{/bodyParam}}{{^bodyParam}}new VoidResource(dataStore){{/bodyParam}}{{#returnType}}, {{returnType}}.class{{/returnType}});
