{{!
    Copyright 2017 Okta

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}

import com.okta.sdk.resource.*;
import com.okta.sdk.impl.ds.InternalDataStore;
import com.okta.sdk.impl.resource.AbstractCollectionResource;
import com.okta.sdk.impl.resource.Property;

import java.util.Collections;
import java.util.Map;

public class Default{{classname}} extends AbstractCollectionResource<{{vendorExtensions.baseType}}> implements {{classname}} {

    private static final ArrayProperty<{{vendorExtensions.baseType}}> ITEMS = new ArrayProperty<>("items", {{vendorExtensions.baseType}}.class);
    private static final Map<String, Property> PROPERTY_DESCRIPTORS = createPropertyDescriptorMap(ITEMS);

    public Default{{classname}}(InternalDataStore dataStore) {
       super(dataStore);
    }

    public Default{{classname}}(InternalDataStore dataStore, Map<String, Object> properties) {
       super(dataStore, properties);
    }

    public Default{{classname}}(InternalDataStore dataStore, Map<String, Object> properties, Map<String, Object> queryParams) {
       super(dataStore, properties, queryParams);
    }

    @Override
    public Map<String, Property> getPropertyDescriptors() {
        return PROPERTY_DESCRIPTORS;
    }

    @Override
    protected Class<{{vendorExtensions.baseType}}> getItemType() {
        return {{vendorExtensions.baseType}}.class;
    }
}
